.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 100vh;
}
.heading {
  color: #ffffff;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
}
.paragraph {
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
}
.button {
  background-color: #6366f1;
  padding: 10px;
  border: 0px;
  color: #ffffff;
  border-radius: 20px;
}
.card-contain {
  width: 50%;
  margin: 40px;
  padding: 30px;
}
