.navbar {
  height: 80px;
  background-color: #272727;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo1 {
  height: 50px;
}
.list-container1 {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.link-item {
  text-decoration: none;
}
.list-item {
  margin: 10px;
  padding: 10px;
}
.nav-item {
  color: #ffffff;
  font-family: Roboto;
  font-size: 28px;
}
.button {
  background-color: #6366f1;
  padding: 10px;
  border: 0px;
  color: #ffffff;
  border-radius: 20px;
}
